name: Test Ansible

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ansible-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install Ansible
      run: |
        pip install ansible

    - name: Create vault pass (from GitHub Secret)
      run: echo "${{ secrets.VAULT_PASSWORD }}" > vault_pass.txt

    - name: Syntax check
      run: ansible-playbook site.yml --syntax-check --vault-password-file vault_pass.txt
