---
- name: Mettre à jour le cache APT
  apt:
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Installer les paquets de base sur PVE
  apt:
    name:
      - vim
      - htop
      - curl
      - wget
      - git
    state: present
  when: ansible_os_family == "Debian"

- name: Installer les paquets spécifiques Proxmox
  apt:
    name:
      - proxmox-ve
      - pve-manager
    state: present
  when: "'pve' in group_names"

